.main-container {
    min-height: 100vh;
    margin: 100px 0 0 0;
  }
  
  .central-form {
    max-width: 1100px;
    padding: 10px;
    display: flex;
    border-radius: 12px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #212435;

  }
  
  h1 {
    color: rgb(255, 153, 58);
    font-family: "Poppins Bold";
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    /* margin-left: 310px; */
  }
  
  .back-form {
    max-width: 866px;
    margin: 0px;
    margin-left: 120px;
    
  }
  
  .img-back {
    width: 100%;
   

  }
  
  .img-back h4 {
    letter-spacing: 0.3rem;
    font-weight: 400;
    color: white;
    font-size: 18px;
    opacity: 0.5;
  }
  
  .back-form .img-back img {
    width: 100%;
    opacity: 0.5;
  }
 
  
  form label {
    margin-bottom: 5px;
    color: rgb(247, 146, 63);
    letter-spacing: 0.2rem;
  }
  
  
  
  form button {
    margin-top: 15px;
    padding: 10px;
    color: var(--white);
    border-radius: 19px;
    background-color: #f7892f;
    font-size: 18px;
    width: 160px;
    /* margin-left: 350px; */
  }
  

  .col i {
    padding: 10px;
    color: #f1952c;
  }
  .col i:hover {
    transform: scale(2);
  }
  
  @media screen and (min-width: 940px) {
    .back-form {
      /* max-width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-top: 30px; */
    }
  
    .img-back {
      flex: 1;
      align-self: center;
      margin-right: 20px;
    }
  
    form {
      flex: 0.9;
    }
  }
  @media screen and (max-width: 414px) {
    .central-form h2 {
      font-size: 16px;
    }
  }